<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
    <title>{% block title %} {% endblock %}</title>
    {% block link_css %} {% endblock %}
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="\">О нас</a>
        <a href="\form_create">Формы создания</a>
        <a href="\chart">Статистика игры</a>
        <a href="#">Статистика</a>
        <!--<a href="#">Контакты</a>-->
    </div>

    <header class="header">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">= Меню</span>
        <h1>Игровой проект "Текстовая РПГ"</h1>
    </header>
    
    <main>
        {% block body %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Мой сайт. Все права защищены.</p>
    </footer>

    <script>
        function openNav()
        {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav()
        {
            document.getElementById("mySidenav").style.width = "0px";
        }
    </script>
</body>
</html>