{% extends 'base.html' %}

{% block title %}
Формы создания
{% endblock %}

{% block link_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename ='css/form_create.css') }}">
{% endblock %}

{% block body %}
<h1>Раздел создания объектов</h1>
<table class="table-main">
    <tr>
        <td><table class="table-form">
            <tr><td><h1>Навыки</h1></td></tr>
            <tr><td><a href="#">Список навыков</a></td></tr>
            <tr><td><a href="/form_create/ability">Создать навык</a></td></tr>
            <tr><td><a href="#">Найти навык</a></td></tr>
        </table></td>
        <td><table class="table-form">
            <tr><td><h1>Эффекты</h1></td></tr>
            <tr><td><a href="#">Список эффектов</a></td></tr>
            <tr><td><a href="#">Создать эффект</a></td></tr>
            <tr><td><a href="#">Найти эффект</a></td></tr>
        </table></td>
        <td><table class="table-form">
            <tr><td><h1>Диалоги</h1></td></tr>
            <tr><td><a href="#">Список даилогов</a></td></tr>
            <tr><td><a href="#">Создать диалог</a></td></tr>
            <tr><td><a href="#">Найти диалог</a></td></tr>
        </table></td>
    </tr>
    <tr>
        <td><table class="table-form">
            <tr><td><h1>Сущности</h1></td></tr>
            <tr><td><a href="#">Список сущностей</a></td></tr>
            <tr><td><a href="#">Создать сущность</a></td></tr>
            <tr><td><a href="#">Найти сущность</a></td></tr>
        </table></td>
        <td><table class="table-form">
            <tr><td><h1>Предметы</h1></td></tr>
            <tr><td><a href="#">Список предметов</a></td></tr>
            <tr><td><a href="#">Создать предмет</a></td></tr>
            <tr><td><a href="#">Найти предмет</a></td></tr>
        </table></td>
        <td><table class="table-form">
            <tr><td><h1>Локации</h1></td></tr>
            <tr><td><a href="#">Список локации</a></td></tr>
            <tr><td><a href="#">Создать локацию</a></td></tr>
            <tr><td><a href="#">Найти локацию</a></td></tr>
        </table></td>
    </tr>
</table>
{% endblock %}