{% extends 'base.html' %}

{% block link_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename ='css/form_create.css') }}">
{% endblock %}

{% block body %}
<h1>{% block create_name %} {% endblock %}</h1>
<table class="table-main">
    <tr>
        <td><table class="table-form">
            <tr><td><h1>Настройки</h1></td></tr>
            <tr><td>{% block option %} {% endblock %}</td></tr>
        </table></td>
        <td><table class="table-form table-to-json">
            <tr><td><h1>Формат JSON</h1></td></tr>
            <tr><td>{% block to_json %} {% endblock %}</td></tr>
        </table></td>
    </tr>
</table>
{% endblock %}