{% extends 'base.html' %}

{% block title %}
Просто сайт
{% endblock %}

{% block body %}
<h1 class="text_header">Добро пожаловать на мой сайт!</h1>
<section>
    <h2 class="text_header">О нас</h2>
    <p>Это пример простого сайта, созданного с использованием HTML и CSS. Здесь вы можете узнать больше о нас и наших услугах.</p>
    <img src="https://sun9-70.userapi.com/s/v1/if1/mszxd132J7UE78XGeaanc2BiibqURiusHdF-fM5SNUksAm8pSUPtcAP6GXLdGRYYm93H6Q.jpg?size=400x400&quality=96&crop=31,0,513,513&ava=1" 
        alt="Пример изображения">
</section>
{% endblock %}